* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f9fafb;
}
.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.nav-center {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.nav-right {
  display: flex;
  gap: 10px;
  margin-right: 60px;
  align-items: center;
}

#get-demo {
  padding: 7px;
  background: transparent;
  border-radius: 8px;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 18px 18px;
  overflow: hidden;
  border: 1px solid black;
}

.hero-content {
  text-align: center;
  z-index: 2;
}

.app-icon {
  width: 48px;
  height: 48px;
  margin: 0 auto 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 14px; */
}

.hero h1 {
  font-size: 48px;
  font-weight: 600;
  color: #111827;
}

.hero h2 {
  font-size: 48px;
  font-weight: 300;
  color: #9ca3af;
}

.note {
  position: absolute;
  height: 30%;
  top: 15%;
  left: 5%;
  background: #fde68a;
  padding: 16px;
  width: 200px;
  border-radius: 2px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  transform: rotate(4deg);
}

.card {
  position: absolute;
  top: 15%;
  right: 5%;
  background: #9ca3af;
  padding: 16px;
  width: 220px;
  border-radius: 16px;
  transform: rotate(10deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card p {
  background-color: #e5e7eb;
  padding: 3px;
  border-radius: 15px;
  text-align: center;
}

.meeting {
  width: 185px;
  margin-top: 10px;
  background-color: beige;
  padding: 15px;
  border-radius: 14px;
}

.meeting h3 {
  font-size: 15px;
  margin-bottom: 2px;
}

.meeting span {
  font-size: 12px;
  margin-bottom: 5px;
}

.card h4 {
  font-size: 14px;
  color: black;
  margin-bottom: 8px;
}

.time {
  background-color: white;
  font-weight: 500;
  width: 140px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.time p {
  background-color: rgb(79, 172, 167);
  padding: 5px;
  border-radius: 5px;
}

.hero-content {
  text-align: center;
}

.hero-bottom {
  margin-top: 25px;
}

.hero-bottom button {
  background-color: royalblue;
  color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.task {
  position: absolute;
  bottom: -3%;
  left: 5%;
  width: 280px;
  padding: 15px;
  background: #e5e7eb;
  border-radius: 8px;
  transform: rotate(-6deg);
}

.ribbon {
  padding: 3px 2px;
  background-color: #f9fafb;
}

.ribbon p {
  font-size: 13px;
  margin: 5px 5px;
  padding: 0 4px;
}

.inside-div {
  display: flex;
  justify-content: space-between;
}

.inside-div p {
  font-size: 14px;
}

#sec-1 {
  margin: 10px 0;
  border-radius: 7px;
}

#sec-2 {
  margin: 10px 0;
  border-radius: 7px;
}

#num1 {
  color: white;
  background-color: rgb(235, 8, 8);
  padding: 4px;
  margin: 0 2px;
  border-radius: 4px;
}

#num2 {
  color: white;
  background-color: rgb(34, 185, 34);
  padding: 4px;
  margin: 0 2px;
  border-radius: 4px;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 60%;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: #e5e7eb;
  border-radius: 999px;
}

.progress-fill {
  width: 60%;
  height: 100%;
  background: #2bb0ff;
  border-radius: 10px;
}

.image {
  background-color: #babcbe;
  position: absolute;
  transform: rotate(5deg);
  position: absolute;
  bottom: -11%;
  right: 5%;
  border-radius: 11px;
}

.image h4 {
  margin: 8px;
}

.img-collection {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 300px;
  height: 200px;
  border: 5px solid balck;
}

.img-collection img {
  width: 30%;
  height: 35%;
  padding: 8px;
  background-color: aliceblue;
  border-radius: 11px;
}

#chalender {
  position: absolute;
  left: 8%;
  top: 8%;
  transform: rotate(-11deg);
  z-index: 0;
}

#gmail {
  position: absolute;
  top: 1%;
  left: 35%;
  z-index: 2;
  transform: rotate(1deg);
}

#meet {
  position: absolute;
  right: 7%;
  top: 8%;
  z-index: 1;
  transform: rotate(5deg);
}

/* .note,
.card {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    transform: translateY(-10px) rotate(-6deg);
  }
  100% {
    transform: translateY(0) rotate(-6deg);
  }
} */
