body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid green;
  text-align: center;
}

label {
  display: block;
  margin: 4px 0;
}
