body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#container {
  display: flex;
  width: 100%;
}

#builder {
  width: 50%;
  padding: 10px;
  border: 2px solid black;
}

#preview {
  width: 50%;
  border: 2px solid black;
  padding: 10px;
}

#fieldType {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#fieldLabel {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 4px;
}

#button {
  width: 100%;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px;
  height: auto;
  background-color: rgb(105, 105, 230);
}
