#color {
  border: 2px solid black;
  margin: 0;
  padding: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  bottom: 100%;
}

.btn {
  border-radius: 8px;
  width: 50px;
  height: 30px;
}

#red {
  background-color: red;
  color: white;
}

#yellow {
  background-color: yellow;
  color: white;
  border-radius: 8px;
  width: 50px;
  height: 30px;
}

#green {
  background-color: green;
  color: white;
}

#black {
  background-color: black;
  color: white;
}

#purple {
  background-color: purple;
  color: white;
}

#blue {
  background-color: blue;
  color: white;
}
